* {
  box-sizing: border-box;
}

.container {
  background-color: #d2d0e0;
  /* position: fixed; */
  width: 100vw;
  height: 100dvh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}


.layout {
  position: relative;
  /* display: grid; */
  width: 95vw;
  max-width: 1000px;
  /* grid-template-columns: 1.5fr 3.5fr;
  grid-template-rows: 60px auto; */
  /* height: 100vh; */
  max-height: 100vh;
  gap: 1rem;
  /* background-color: red; */
}


.header {
  position: relative;
  width: 100%;
  /* background-color: white; */
  height: 60px;
  margin-bottom: 1rem;

}


.main {
  position: relative;
  display: flex;
  /* height: 90% !important; */
  /* height: auto; */
  height: calc(100% - (60px + 1rem));

  /* height: 80%; */
  /* background-color: red; */
  z-index: -1 !important;
  gap: 1rem;
}


.rightsidebar div {
  border-radius: 10px;
}

.centre {
  width: 68%;
  padding-top: 20px;
  /* position: relative; */
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
  height: 100%;
  max-height: 100%;
}

.main div {
  border-radius: 10px;
}

.leftsidebar {
  width: 30%;
  overflow: scroll;
  min-height: 300px;
}

.leftsidebar div {
  border-radius: 10px;
}

.rightsidebar {
  width: 100%;
  overflow: scroll;
  min-height: 300px;
  grid-column: 3/4;
  grid-row: 2/3;
}

.main::-webkit-scrollbar,
.rightsidebar::-webkit-scrollbar,
.leftsidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main,
.rightsidebar,
.leftsidebar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.floatingButton {
  display: flex;
  position: fixed;
  bottom: 20px;
  width: 50px;
}

.floatingButton img {
  width: 50px;
  color: #9B59B6;
  padding: 0;
  border: 2px solid white;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  opacity: 0.9;
  transition: all 100ms;
  cursor: pointer;


}

.floatingButton img:hover {
  opacity: 1;
  scale: 1.1;
  transition: all 200ms;
}

.newPostModal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  /* padding: 70px; */
  z-index: 4 !important;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  transition: all 0.4s ease-in-out;
}

.newPostModalHide {
  /* visibility:hidden;
  backdrop-filter: blur(0px);
  transition: all 0.4s ease-in-out; */
  display: none;
}


.inputArea {
  background-color: white;
  border-radius: 5px;
  /* width: 400px; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border: 2px solid #d2d0e0;

}

.newPostModal textarea {
  display: flex;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;
  /* height: 100%; */
  width: 400px;
  background-color: transparent;
  padding-left: 10px;
  padding-top: 10px;
  background-color: white;
}

.postBtn {
  display: flex;
  /* width: 100%; */
  width: auto;
  /* background-color: red; */
  padding: 10px;
  justify-content: end;
}

.postBtn button {
  background-color: white;
  text-transform: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  font-size: small;
  font-weight: 600;
  height: 28px;
}

@media screen and (max-width:700px) {
  .layout {
    display: flex;
    width: 100%;
    padding-top: 10px;

  }

  .header {
    position: fixed;
    bottom: 0px;
    z-index: 2;
    width: 100vw;
  }

  .leftsidebar {
    display: none;
  }

  .floatingButton {
    bottom: 80px;
    left: 30px;
    display: none;
  }



}