* {
  /* box-sizing: border-box; */
}

.layout {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 60px;
  border: 1px solid #d2d0e0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-top: 3px;
  /* background-color: white; */
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0;
  /* overflow: hidden; */
  padding-left: 1rem;
  /* z-index: 2; */
}

.layout img {
  transform: scale(0.6);
}

.layout input {
  border: none;
  background-color: whitesmoke;

  outline: none;
  height: 30px;
  border-radius: 10px;
  align-self: center;
  color: #170a38;
  padding-left: 10px;
}

.topText {
  display: flex;
  align-items: center;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 40px;
  font-weight: 800;
  font-size: large;
  /* margin: 10px 0 0 10px; */
  margin-right: 1rem;
  /* color: #9b59b6; */
  color: rgba(155, 89, 182, 0.9);
  /* z-index: 3; */
  width: min-content;
  padding: 5px;
  border-radius: 5px;
  align-self: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.layout .one {
  display: flex;
  align-items: center;

}

.newPost {
  display: none;
  align-items: center;
  font-weight: 700;
  margin-left: auto;
}


.newPostBtn {
  /* display: inline-block; */
  width: 60px;
}

.topText img {
  transform: scale(0.58);
  margin-right: 7px;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.layout .two {
  /* width: 40%; */
}

.layout .three {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: flex-end;
  /* width: 40%; */
  margin-left: auto;
  overflow: visible;
  /* background-color: beige; */
}

.homebutton {
  cursor: pointer;
  background-color: #f2f5f9;
  display: flex;
  height: 30px;
  width: 80px;
  align-self: center;
  border-radius: 10px;
  overflow: auto;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.homebutton img {
  transform: scale(0.7);
}

.homebutton div {
  align-self: center;

  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
}

.badge {
  display: flex;
  justify-content: center;

  align-self: center;
  align-items: center;
  padding-top: 10px;
}

.badge span {
  margin-top: 20px;
  margin-right: 12px;
  background-color: #9b59b6;
  color: white;
  height: 18px;
}

.messagebutton {
  align-self: center;
  cursor: pointer;
}

.menuList {
  align-self: center;
  cursor: pointer;
  overflow: visible;
  position: relative;
}

.menuList .options {
  position: absolute;
  backdrop-filter: blur(5px);
  /* background-color: rgba(0, 0, 0, 0.12); */
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  top: 50px;
  right: 20px;
  z-index: 10 !important;


}

.hide {
  display: none;
}

.settings {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 20px;
}

.logout {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px 20px;
}

.menuList .options>* {
  display: flex;
  color: #9b59b6;
  text-decoration: none;
  font-weight: 700;
}

.menuList .options>*:hover {
  background-color: #9b59b6;
  color: white !important;
}



/* .newPostBtn img {
  width: 70px;
  color: rgb(155, 89, 182);
  padding: 0;
  border: 2px solid white;
  border-radius: 100%;
  transition: all 100ms;
  cursor: pointer;


} */

.newPostBtn img:hover {
  opacity: 1;
  scale: 1.1;
  transition: all 200ms;
}

@media screen and (max-width:700px) {
  .layout {
    width: 100vw;
    border-radius: 0px;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

  }

  .newPost {
    display: flex;
  }

  .topText {
    /* display: none; */
  }

  .layout .three {

    align-self: center;
    justify-content: flex-end;
    /* width: 100%; */
    display: flex;
    flex-direction: row;

    /* justify-content: center; */
  }

  .menuList .options {
    position: absolute;
    backdrop-filter: blur(5px);
    /* background-color: rgba(0, 0, 0, 0.12); */
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    top: -60px;
  }

}