* {
  box-sizing: border-box;
}

.layout {
  min-width: 599px;
  height: 80vh;
  min-height: 512px;
  max-height: 699px;
  max-width: 999px;
  width: 80vw;
  margin: 10vh 0;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  background-color: #f2f5f9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 4px solid #d2d0e0;
}
.topText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 40px;
  font-weight: 800;
  font-size: large;
  margin: 10px 0 0 10px;
}

label {
  display: block;
}
.shape {
  height: 7px;
  width: 7px;
  background-color: black;
}
.leftSide {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.form_wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.form {
  min-width: 200px;
  height: auto;
  padding: 0 5% 0 5%;
  border: 3px solid #f2f5f9;
  /* max-width: 400px; */
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  align-self: center;
}

.error {
  color: #7d57d9;
  max-width: 80%;
  margin-top: 3px;
  font-size: small;
  opacity: 1;
}

.form_Header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;

  color: black;
  opacity: 0.7;
}

.form_Field {
  align-self: center;
  width: 100%;
  margin-bottom: -10px;
}
.form_Field label {
  margin-bottom: 3px;
  opacity: 0.7;
  font-size: small;
  font-weight: 700;
}

.form_Field input {
  margin-bottom: -100px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 2px solid transparent;
  opacity: 0.7;
  outline: transparent;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.loginRoute {
  font-weight: 600;
  font-size: small;
  color: #a497c0;
  margin-top: 10px;
}
.loginRoute a {
  text-decoration: none;
}
.signUpRoute {
  font-weight: 600;
  font-size: small;
  color: #a497c0;
  margin: 10px 0 17px 0;
  align-self: flex-end;
}
.signUpRoute a {
  text-decoration: none;
}
.form button {
  align-self: center;
  font-weight: 700;
  width: 100%;
  align-self: center;
  height: 45px;
  background-color: #7d57d9;
  border-color: transparent;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.rightSide {
  display: flex;
  flex-direction: row;
  height: 1fr;
  width: 40%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.section1 {
  background-color: #b19cd8;
  width: 100%;
}
.section2 {
  background-color: #bea9df;
  width: 100%;
}
.section3 {
  background-color: #cbb7e5;
  width: 100%;
}
.section4 {
  background-color: #d9c4ec;
  width: 100%;
}
.section5 {
  background-color: #e6d1f2;
  width: 100%;
}
.section6 {
  background-color: #b19cd8;
  width: 100%;
}

.section7 {
  background-color: #bea9df;
  width: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
